<footer class="text-center text-black" style="background-color: #fcf5ea">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
              <div class="col-md-6 mx-auto mt-3">
                <h6>للاستفسارات</h6>
                <p>{{email}}</p>
                <h6>الهاتف</h6>
                <p>0584579786</p>
            </div>
                <div class="col-md-6 mx-auto mt-3">
                    <h6>قصتنا</h6>
                     <p>نصف مليون ريال شكلت البداية وحجر الأساس للمقهى المعروف "هاف مليون" بداية الحكاية كانت في مدينة الرياض حيث اتفق صديقان للخوض في غمار رحلة افتتاح مشروعهم والدخول في عالم القهوة بقلوب مليئة بالشغف والإصرار ورأس ماله قدره 500 ألف ريال فقط، مع دعم وتشجيع الشركات الصديقة أصبح الحلم واقعا ملموسا. الطموح جسد دافعهم، فلم يجعلوا مدينة الرياض حدهم، بل انتشروا حتى افتتحوا أول فرع عالمي أخذ مكانه في لندن. هذا النجاح كان نتيجة جهد وإيمان دؤوب ومتواصل بعد توفيق الرحمن ودعم المجتمع، وبه تستمر رحلة هاف مليون</p>
                </div>
            </div>
        </section>
        <hr class="my-3">
        <section class="p-3 pt-0">
            <div class="text-center">
              جميع الحقوق محفوظة لموقع هاف مليون - تصميم شركة دريمز لتقنية المعلومات
            </div>
        </section>
    </div>
  </footer>